# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
dist
build
.turbo
web/.next
studio/dist

# Env
.env
.env.*
!.env.example

# Debug / OS
.DS_Store
*.log
npm-debug.log*

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# Sanity
studio/.sanity

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
